.Consultation{
    width: 100%;
    min-height: 60vh;
    border-radius: 20px;
    border: 10px solid #ff477b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%; 
    animation: pulsate-bck 5s ease-in-out infinite both;



}






